body {
    box-sizing: border-box;
}

section {
    width: 90%;
    margin: 100px auto;
    background-color: pink;
}
.title {
    text-align: center;
}
h1,h4 {
    text-transform: uppercase;
    margin: 0;
}
p {
    margin-top: 0.5em;
    color: rgb(66, 66, 66);
    margin-bottom: 0;
}
.about-img img {
    width: 100%;
    margin-top: 50px;
}
.about {
    margin-top: 50px;
}
.btn-container {
    background-color: rgb(170, 111, 111);
    display: flex;
    justify-content: space-between;
}
.active {
    background-color: #f6f4f4 !important;
    display: block !important;
}
.btn-container button {
    width: 100%;
    padding: 1em;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    cursor: pointer;
}
.about-content {
    /* position: relative; */
}

.content {
    padding: 2em 1em ;
    /* position: absolute; */
    height: 170px;
    display: none;
}
