
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 200px;
  display: grid;
  place-items: center;
  font-family: 'Oswald', sans-serif;
  background-color: lightgray;
}

.card {
  width: 400px;
  margin-bottom: 200px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}
.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #333;
}
  


.card2 {
  width: 35vw;
  height: 80vh;
  margin: auto;
  position: relative;
}
.mini {
  position: absolute;
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px rgba(0,0,0.0.25);
}
.mini p {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.mini img {
  width: 100%;
  height: 90%;
  border: 10px solid white;
}
.minicard1:hover,.minicard4:hover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: 0.5s ease-in-out;

}
.minicard2:hover,.minicard3:hover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.minicard1 {
  
  top: 10%;
  left: 30%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.minicard2 {
  top: 20%;
  left: 50%;
  transform: rotate(10deg);
  transition: 0.5s ease-in-out;
  z-index: 4;
}
.minicard3 {
  top: 30%;
  left: 20%;
  transform: rotate(-10deg);
  transition: 0.5s ease-in-out;
  z-index: 3;
}
.minicard4 {
  top: 40%;
  left: 40%;
  z-index: 2;
  transition: 0.5s ease-in-out;
}